language: php

php:
  - 5.6
  - 7.0

cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon

before_install:
  - composer install --prefer-source --no-interaction --ignore-platform-reqs
  - vendor/bin/install-phalcon.sh

script:
  - vendor/bin/phpunit tests/

notifications:
  email: false